<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
       <div class="startPage">
           <input type="text" class="search" placeholder="Search">
           <div class="startPage__tasks"></div>
           <div class="btns">
               <button class="btn btn--add" v-on:click="isVisibleAddModal = true">Добавить</button>
               <button class="btn btn--delete">Удалить</button>
           </div>
       </div>
       <div class="blurEffect" v-if="isVisibleAddModal"></div>
       <div class="modalAddTask" v-if="isVisibleAddModal">
        <div class="modalAddTask__inputs">
            <input type="text" class="headerInput" placeholder="Ввести заголовок">
            <input type="text" class="inputTaskDescription" placeholder="Ввести краткое описание задачи">
        </div>
        <div class="btns">
            <button class="btn btn--addTask">Добавить</button>
            <button class="btn btn--canselTask" v-on:click="isVisibleAddModal = false">Отмена</button>
        </div>
     </div>
    </div>


<script>

const app = new Vue({
    el: '#app',
    data: {
        isVisibleAddModal:false
    },

    methods: {
        
    },
})

</script>


</body>
</html>