<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
       <div class="startPage">
           <input type="text" class="search" placeholder="Search">
           <div class="startPage__tasks">
               <div class="task" v-for="task in tasks" v-bind:class="{ active: task.done }">
                   <div class="text text__header">
                       <h2>{{ task.title }}</h2>
                       <h3>{{ task.description }}</h3>
                   </div>
                   <div class="custom-cbx" v-on:click="task.done = !task.done"><div class="checkImg"></div></div>
               </div>
           </div>
           <div class="btns">
               <button class="btn btn--add" v-on:click="isVisibleAddModal = true">Добавить</button>
               <button class="btn btn--delete" v-on:click="isVisibleDeleteModal = true">Удалить</button>
           </div>
       </div>
       <div class="blurEffect" v-if="isVisibleAddModal || isVisibleDeleteModal"></div>
       <div class="modalAddTask" v-if="isVisibleAddModal">
            <div class="modalAddTask__inputs">
                <input type="text" class="headerInput" v-model="newTask.title" placeholder="Ввести заголовок">
                <input type="text" class="inputTaskDescription" v-model="newTask.description" placeholder="Ввести краткое описание задачи">
            </div>
            <div class="btns">
                <button class="btn btn--addTask" v-on:click="addTask">Добавить</button>
                <button class="btn btn--canselTask" v-on:click="isVisibleAddModal = false">Отмена</button>
            </div>
        </div>

        <div class="modalDeleteTask" v-if="isVisibleDeleteModal">
            <h2>Вы уверены что хотите удалить выбранные задачи?</h2>
            <div class="btns">
                <button class="btn btn--deleteTask" v-on:click="deleteTask">Удалить</button>
                <button class="btn btn--canselTask" v-on:click="isVisibleDeleteModal = false">Отмена</button>
            </div>
        </div>
    </div>


<script>

const app = new Vue({
    el: '#app',
    data: {
        isVisibleAddModal:false,
        isVisibleDeleteModal: false,
        newTask: {
            id: null,
            title: '',
            description: '',
            done: false
        },
        tasks: [
            {
                id: 1,
                title: 'Помыть Персюшкина',
                description: 'Помыть котика новым шампунем',
                done: false

            },
            {
                id: 2,
                title: 'Сходить в магазин',
                description: 'Сходить в Пятёрочку за продуктами',
                done: false
            },
            {
                id: 3,
                title: 'Купить кит-кат',
                description: 'Купить тройной кит-кат для Лёши',
                done: false
            }
        ],
    },
    methods: {
        deleteTask() {
            const filteredTask = this.tasks.filter(task => task.done === false);
            this.tasks = filteredTask;
            this.isVisibleDeleteModal = false;
        },

        addTask() {
            const newTask = this.newTask;
            if (newTask.title.length && newTask.description.length) {
                const max = Math.max(...this.tasks.map(task => task.id));
                newTask.id = max + 1;
                this.tasks.push(newTask);
                this.newTask = {
                id: null,
                title: '',
                description: '',
                done: false
                }
                this.isVisibleAddModal = false;
            }
            
        }
    },
})

</script>


</body>
</html>