@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$mainPageColor: #2C3E50;
$colorTasks: #34495E;
$colorInput: rgba(52, 73, 94, 0.8);
$colorForMultimedia: #1ABC9C;
$colorBtnDelete: #E74C3C;
$colorBtnCancelingAndText: #FFFFFF;
$placeholdersColor: rgba(255, 255, 255, 0.8);

* {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: $colorBtnCancelingAndText;
}

.startPage {
    width: 366px;
    height: 443px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $mainPageColor;
    position: absolute;
    flex-direction: column;
    display: flex;
    text-align: center;

    .search {
        height: 102px;
        border-radius: 10px 10px 0px 0px;
        border-style: none;
        outline: none;
        color: $colorInput;
        text-indent: 17px; // Задали отступ placeholder
        font-size: 24px;
        line-height: 28px;
        background: url('./img/imgSearch.svg') no-repeat 314px 36px $colorForMultimedia;
        background-size: 29.15px;
        cursor: pointer;

        &:focus::-webkit-input-placeholder { 
            color:transparent; 
        }
        
    }

    &__tasks {
        height: 260px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 8px;
            background-color: $mainPageColor;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $colorForMultimedia;
            border-radius: 5px;
        }
    }

    .task {
        height: 81px;
        margin-top: 3px;
        padding: 0;
        background-color: $colorTasks;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 14px;
        padding-right: 14px;

        .text {

            &__header {
                width: calc(100% - 31px);
    
                h2 {
                    font-size: 24px;
                    line-height: 28.13px;
                    text-align: left;
                }
        
                h3 {
                    font-size: 14px;
                    line-height: 16.41px;
                    text-align: left;
                }
            }
        }

        .custom-cbx {
            width: 31px;
            height: 31px;
            background-color: $colorBtnCancelingAndText;
            border-radius: 50%;
            margin: 25px 17px 25px 0;
            cursor: pointer;

        }

        &.active {

            .text__header h2, .text__header h3{
                color: $colorForMultimedia;
            }

            .custom-cbx {
                background-color: $colorForMultimedia;

                .checkImg {
                    background-image: url('./img/Check.svg');
                    background-repeat: no-repeat;
                    width: 17px;
                    height: 14px;
                    margin-left: 7px;
                    margin-top: 8px;
                }
            }
        }
    }

    .btns {
        height: 80px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .btn {
        width: 100%;
        height: 44px;
        border-radius: 10px;
        border-style: none;
        outline: none;
        font-size: 18px;
        line-height: 21.09px;
        cursor: pointer;

        &--add {
            width: 144px;
            margin-right: 22px;
            background-color: $colorForMultimedia;
        }

        &--delete {
            width: 144px;
            margin-left: 22px;
            background-color: $colorBtnDelete;
        }
    }
}

.blurEffect {
    background-color: $placeholdersColor;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.modalAddTask {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 365px;
    height: 205px;
    background-color: $mainPageColor;
    border-radius: 10px;

    .headerInput {
        min-width: 281px;
        line-height: 28.13px;
        background-color: $mainPageColor;
        border-style: none;
        outline: none;
        font-size: 24px;
        margin-left: 24px;
        margin-top: 9px;

        &::placeholder {
            color: $placeholdersColor;
        }

        &:focus::-webkit-input-placeholder { 
            color:transparent; 
        }
    }

    .inputTaskDescription {
        min-width: 281px;
        line-height: 21.09px;
        background-color: $mainPageColor;
        border-style: none;
        outline: none;
        font-size: 18px;
        margin-left: 24px;
        margin-top: 18px;
        
        &::placeholder {
            color: $placeholdersColor;
        }

        &:focus::-webkit-input-placeholder { 
            color:transparent; 
        }
    }

    .btn {
        width: 100%;
        height: 44px;
        border-radius: 10px;
        border-style: none;
        outline: none;
        font-size: 18px;
        line-height: 21.09px;
        cursor: pointer;

        &--addTask {
            width: 144px;
            margin-right: 22px;
            background-color: $colorForMultimedia;
            border-style: none;
            outline: none;
            font-size: 18px;
            margin-left: 14px;
        }

        &--canselTask {
            width: 144px;
            margin-left: 22px;
            background-color: $colorBtnCancelingAndText;
            color: $colorForMultimedia;
            border-style: none;
            outline: none;
            font-size: 18px;
        }
    }
}

.modalDeleteTask {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 365px;
    height: 205px;
    background-color: $mainPageColor;
    border-radius: 10px;

    h2 {
        font-size: 24px;
        line-height: 28.13px;
        text-align: center;
        width: 332px;
        height: 56px;
    }

    .btn {
        width: 100%;
        height: 44px;
        border-radius: 10px;
        border-style: none;
        outline: none;
        font-size: 18px;
        line-height: 21.09px;
        cursor: pointer;

        &--deleteTask {
            width: 144px;
            background-color: $colorBtnDelete;
            border-style: none;
            outline: none;
            font-size: 18px;
            margin-right: 22px;
        }

        &--canselTask {
            width: 144px;
            background-color: $colorBtnCancelingAndText;
            color: $colorForMultimedia;
            border-style: none;
            outline: none;
            font-size: 18px;
            margin-left: 22px;
        }
    }
}